.background {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;


  background: #ffffff;
}
.sideShape{
  /* width: 200%;
  height: 400%;
  background: #6e5bc4;
  /* position: absolute; */
  /* z-index: -1; */
  /* top: 0;
  left: 0; */
  /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%); */
  /* border-radius: 50%; */ 

position: absolute;
top: -20%;
left: -20%;
width: 90%;
height: 150vh;
border-radius: 50%;

background: #333333;

}
.loginBox{
  box-sizing: border-box;

  display: flex;
  align-items: flex-end;
  justify-content: center;
position: absolute;
width: 30%;
height: 40%;
top: 30%;
left: 60%;

background: #AAAAAA;
border: 1px solid #555555;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 9px;
}
